<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.DeptMapper">
    <select id="selectAll" resultMap="rm">
        select * from dept d inner join emp e on d.deptno = e.deptno;
    </select>

    <resultMap id="rm" type="dept">
        <id column="deptno" property="deptNo"></id>
        <result column="dname" property="dname"></result>
        <result column="loc" property="loc"></result>
        <collection property="list" ofType="emp">
            <id column="empno" property="empNo"></id>
            <result column="ename" property="ename"></result>
            <result column="job" property="job"></result>
        </collection>
    </resultMap>

</mapper>